---
# PICTA-DL-GUI Style
Language: Cpp
# BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: false
# clang 9.0 AllowAllConstructorInitializersOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBinaryOperators: All
BraceWrapping:
# clang 9.0 AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
# clang 9.0 BeforeLambdaBody: true 
  IndentBraces: false
  SplitEmptyNamespace: true
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
#IndentCaseBlocks: true
IndentCaseLabels: true
Standard: Cpp11
NamespaceIndentation: All
TabWidth: 4
#UseCRLF: false
UseTab: Never
...
