Source: __NAME__
Section: net
Priority: optional
Maintainer: __MAINTAINER__ <__EMAIL__>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: __HOMEPAGE__
Vcs-Git: __VCS__
Vcs-Browser: __VCS__

Package: __NAME__
Architecture: amd64
Depends: __DEPS__, ${shlibs:Depends}, ${misc:Depends}
Recommends: __RECOM__
Description: Picta Downloader GUI
 Es una aplicación que le permite descargar contenidos audiovisuales desde
 [Picta](https://www.picta.cu), la misma es una GUI (interfaz gráfica de 
 usuario) o del inglés(graphical user interface) de la app de descargar por 
 consola [picta-dl](https://github.com/oleksis/picta-dl).
